<h1>DATA BINDING</h1>
<h2>1.String Interpolation</h2>
<h3>Server with ID {{serverID}} is {{getServerStatus()}}</h3>
<h2>2. Property Binding</h2>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreation()">Add Server</button>
<p>{{allowNewServer}}</p> 

<h2>3. Event Binding</h2>
<p>{{serverCreationStatus}}</p>

<h2>4. Two-Way Binding</h2>

<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<!-- Example of two way binding -->
<input type="text" class="form-control" [(ngModel)]="ServerName">
<p *ngIf="serverCreated">Server name is: {{ServerName}}</p>

<hr>
<h2>Assigment for DataBinding leanings</h2>
<label >Username</label>
<input type="text"  [(ngModel)]="userName"> 
<button class="btn btn-primary" [disabled]="userName===''" (click)="resetUserNameonClick()">Reset UserName</button>
<p>{{userName}}</p>
<hr>

<h2>Assignment on Derectives</h2>
<button (click)="onToggleDets()">Show pswd</button>
<p *ngIf="showSecret">Secret pswd is Password</p>
<div *ngFor="let logItem of log"
     [ngStyle]="{backgroundColor: logItem>=5?'blue':'transparent'}"
     [ngClass]="{'white-txt':logItem>=5}"
>{{logItem}}</div>

