<form [formGroup]="binForm">
    <h4>Create Code Snippet</h4>
    <br>
    <input type="text" placeholder="Enter your title" [formControl]="title">
    <h5 [hidden]="title.valid || title.untouched">Title is Required</h5>
    <br>
    <textarea type="text" placeholder="Type your code" [formControl]="code"></textarea>
    <h5 [hidden]="code.valid || code.untouched">Code here</h5>
    <br>
    <div class="button-container">
        <button [disabled]="binForm.invalid" (click)="save()">Create</button>
    </div>
</form>